@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme:dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(0.98 0.005 28.430340530603157);
  --foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --card: oklch(0.96 0.01 28.430340530603157);
  --card-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --popover: oklch(0.96 0.01 28.430340530603157);
  --popover-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --primary: oklch(0.31039147245524923 0.12269186776382515 28.430340530603157);
  --primary-foreground: oklch(0.98 0.036807560329147546 28.430340530603157);
  --secondary: oklch(0.92 0.012269186776382515 28.430340530603157);
  --secondary-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --muted: oklch(0.92 0.012269186776382515 28.430340530603157);
  --muted-foreground: oklch(0.4103914724552492 0.02453837355276503 28.430340530603157);
  --accent: oklch(0.92 0.012269186776382515 40.43034053060319);
  --accent-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --destructive: oklch(0.5 0.15 58.43034053060316);
  --destructive-foreground: oklch(0.95 0.07361512065829509 28.430340530603157);
  --border: oklch(0.9 0.008 28.430340530603157);
  --input: oklch(0.9 0.008 28.430340530603157);
  --ring: oklch(0.7 0.036807560329147546 28.430340530603157);
  --chart-1: oklch(0.4303914724552492 0.1410956479283989 28.430340530603132);
  --chart-2: oklch(0.28 0.1288264611520164 165.93834053060323);
  --chart-3: oklch(0.33039147245524925 0.14723024131659018 303.44634053060315);
  --chart-4: oklch(0.25 0.12269186776382515 80.95434053060313);
  --chart-5: oklch(0.3703914724552492 0.11655727437563389 218.46234053060323);
  --sidebar: oklch(0.98 0.005 28.430340530603157);
  --sidebar-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --sidebar-primary: oklch(0.31039147245524923 0.12269186776382515 28.430340530603157);
  --sidebar-primary-foreground: oklch(0.6999999999999998 0.07361512065829509 28.430340530603157);
  --sidebar-accent: oklch(0.92 0.012269186776382515 40.43034053060319);
  --sidebar-accent-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --sidebar-border: oklch(0.9 0.008 28.430340530603157);
  --sidebar-ring: oklch(0.7 0.036807560329147546 28.430340530603157);
  --header: oklch(0.98 0.005 28.430340530603157);
  --header-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --footer: oklch(0.98 0.005 28.430340530603157);
  --footer-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --code: oklch(0.98 0.005 28.430340530603157);
  --code-foreground: oklch(0.4999999999999999 0.07361512065829509 28.430340530603157);
  --code-highlight: oklch(0.5103914724552492 0.01 28.430340530603157);
  --code-number: oklch(0.4103914724552492 0.02453837355276503 28.430340530603157);
  --code-selection: oklch(0.96 0.01 28.430340530603157);
  --code-border: oklch(0.9 0.008 28.430340530603157);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.18 0.006134593388191258 28.430340530603157);
  --foreground: oklch(0.85 0.01 28.430340530603157);
  --card: oklch(0.22999999999999998 0.01 28.430340530603157);
  --card-foreground: oklch(0.85 0.01 28.430340530603157);
  --popover: oklch(0.22999999999999998 0.01 28.430340530603157);
  --popover-foreground: oklch(0.85 0.01 28.430340530603157);
  --primary: oklch(0.31039147245524923 0.12269186776382515 28.430340530603157);
  --primary-foreground: oklch(0.98 0.036807560329147546 28.430340530603157);
  --secondary: oklch(0.25039147245524923 0.018403780164573773 28.430340530603157);
  --secondary-foreground: oklch(0.85 0.01 28.430340530603157);
  --muted: oklch(0.25039147245524923 0.018403780164573773 28.430340530603157);
  --muted-foreground: oklch(0.85 0.018403780164573773 28.430340530603157);
  --accent: oklch(0.25039147245524923 0.018403780164573773 16.430340530603132);
  --accent-foreground: oklch(0.85 0.01 28.430340530603157);
  --destructive: oklch(0.26039147245524924 0.15 58.43034053060316);
  --destructive-foreground: oklch(0.85 0.01 28.430340530603157);
  --border: oklch(0.26 0.008 28.430340530603157);
  --input: oklch(0.26 0.008 28.430340530603157);
  --ring: oklch(0.3603914724552492 0.04907674710553006 28.430340530603157);
  --chart-1: oklch(0.4303914724552492 0.1410956479283989 28.430340530603132);
  --chart-2: oklch(0.28 0.1288264611520164 165.93834053060323);
  --chart-3: oklch(0.33039147245524925 0.14723024131659018 303.44634053060315);
  --chart-4: oklch(0.25 0.12269186776382515 80.95434053060313);
  --chart-5: oklch(0.3703914724552492 0.11655727437563389 218.46234053060323);
  --sidebar: oklch(0.22999999999999998 0.01 28.430340530603157);
  --sidebar-foreground: oklch(0.85 0.01 28.430340530603157);
  --sidebar-primary: oklch(0.31039147245524923 0.12269186776382515 28.430340530603157);
  --sidebar-primary-foreground: oklch(0.85 0.01 28.430340530603157);
  --sidebar-accent: oklch(0.25039147245524923 0.018403780164573773 16.430340530603132);
  --sidebar-accent-foreground: oklch(0.85 0.01 28.430340530603157);
  --sidebar-border: oklch(0.26 0.008 28.430340530603157);
  --sidebar-ring: oklch(0.3603914724552492 0.04907674710553006 28.430340530603157);
  --header: oklch(0.18 0.006134593388191258 28.430340530603157);
  --header-foreground: oklch(0.85 0.01 28.430340530603157);
  --footer: oklch(0.18 0.006134593388191258 28.430340530603157);
  --footer-foreground: oklch(0.85 0.01 28.430340530603157);
  --code: oklch(0.22999999999999998 0.01 28.430340530603157);
  --code-foreground: oklch(0.85 0.01 28.430340530603157);
  --code-highlight: oklch(0.12 0.01 28.430340530603157);
  --code-number: oklch(0.3 0.018403780164573773 28.430340530603157);
  --code-selection: oklch(0.18 0.006134593388191258 28.430340530603157);
  --code-border: oklch(0.26 0.008 28.430340530603157);
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground;
  }
  
  button {
    @apply cursor-pointer;
  }
  
  #tsparticles canvas {
    z-index: -1;
  }
}